html {
    background-color: #3c37c9;
    align-items: center;
    text-align: center;
    font-family: 'Orelaga One', sans-serif;
    color: white;
}

img {
    width: 300px;
}

.quote {
    text-align: center;
}

button {
    margin-top: 2em;
    border: none;
    padding: 1em;
    background-color: white;
    border-radius: 5px;
    font-family: 'Orelaga One', sans-serif;
    font-size: 1em;
}

button:hover {
    transition: ease all .3s;
    background-color: red;
    color: white;
    border: black 3px solid;
}

p {
    width: 50%;
    margin: 0 auto;
    padding: 2em;
    font-size: 1.5em;
}